@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Quicksand&display=swap');
/* 
* {
  font-family: "Bangers", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.titlename {
  font-family: 'Bangers';
    font-size: 40px;
    font-weight: 400;
    color: black;
}

.categorytitle {
  font-family: 'Bangers';
    font-size: 60px;
    font-weight: 400;
    color: black;
    padding-top: 150px;
}


.card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 15px;
    text-align: center;
    min-width: 200px;
    max-width: 200px;
    display: inline-block;
    height: 300px;
    font-family: 'Bangers';
    font-size: 25px;
    font-weight: 400;
    color: black;
  }
  .card .card-image {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  body {
    text-align: center;
    background: url() no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }


  a {
    text-decoration: none;
  }

  .welcome {
    font-family: "Bangers", system-ui;
  font-weight: 700;
  font-style: normal;
    font-size: 70px;
    color: black;
    margin-bottom: 30px;
  }

  .hero {
    margin-top: 150px;
    margin-bottom: 80px;
    margin-right: 200px;
    margin-left: 200px;
    font-family: "Quicksand", system-ui;
   
  }
.whiteword {
  font-family: 'Bangers';
    font-size: 60px;
    font-weight: 400;
    color: white;
    padding-top: 130px;
}
  .fundamentalsbg {
    background: url(src/assets/dbzblueee.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
  }

div img {
  width: 200px;
  height: 300px;
  display: inline-block;
  box-shadow: 4px 7px 7px 0px;
  border-radius: 10px;
  margin: 10px;
  transition: 300ms;
}

div img:hover {
filter: grayscale(5);
transform: scale(1.03);


}

  .vocabCard {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 15px;
    text-align: center;
    width: 200px;
    display: inline-block;
    height: 100px;
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: 400;
    color: black;
    background-color: white;
    
  }

